.vscode

Ai/.env

Documentation/doc files
Documentation/drawio
Documentation/newItems

backEnd/node_modules
backEnd/.env
backEnd/uploads/registerationFiles
backEnd/uploads/Artwork_images
backEnd/uploads/chatImages
backEnd/uploads/images
